extends ../layout/layout-default
block js
	script(src=`https://cdn.tiny.cloud/1/${tinyKey}/tinymce/5/tinymce.min.js` referrerpolicy="origin")
	script(src="/js/editor.js")
block content
	.change-wrapper.wrapper
		form(name="changeForm" action="/gallery/update" method="post" onsubmit="return onSave(this);" enctype="multipart/form-data")
			input(type="hidden" name="id" value=`${rs.id}`)
			input(type="hidden" name="delfile")
			ul.list-wrapper
				li.list-wrap
					.title 제목
					.list
						input.form-control(type="text" name="title" placeholder="제목" value=`${rs.title}`)
				li.list-wrap
					.title 작성자
					.list
						input.form-control(type="text" name="writer" placeholder="작성자" value=`${rs.writer}`)
				li.list-file-wrap
					.bts.text-right.pt-3(style=`${rs.files.length < 10 ? '' : 'display: none'}`)
						a.bt-plus.mr-2(href="javascript: onChgPlus();")
							i.fa.fa-plus-circle.text-success
					each v, i in rs.files 
						.list-wrap.file-wrapper
							.title 첨부이미지
							.file-wrap
								div
									.legacy
											img.thumb.mr-2(src=`${v.src}` alt=`${v.orifile}`)
											span= v.orifile
											span.ml-2(onclick=`onApiRemove(this, ${v.id});`)
												i.fa.fa-times.text-danger.xl
									.list.pt-2.pb-3
										input.form-control-file(type="file" name="upfile" data-id=`${v.id}`)
				li.text-center.text-success.pb-3 * jpg png gif 파일이 업로드 가능합니다.
				li.list-wrap.tiny-wrap
					.w-100
						textarea#content.form-control(name="content")= rs.content
			.text-center.py-4
				button.btn.btn-primary 저장